{% extends 'base.html' %}

{% block content %}

<h1>{% block title %}
    Welcome to MealGen.
{% endblock %}</h1>
<p>{% block body %}
    MealGen is a site that can help you with your journey to healthy eating.
{% endblock %}</p>
 <form action="/logged_in" method="post">
     <label for="email">Email:</label><br>
     <input type="text" id="email" name="email"><br><br>
     <label for="username">Username:</label><br>
     <input type="text" id="username" name="username"><br>
     <label for="password">Password:</label><br>
     <input type="password" id="password" name="password"><br><br>
     <input type="submit" value="Submit">
</form>

{% endblock %}
